<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/static/js/jquery.min.js"></script>
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
<div class="header" id="header">
	<div class="container" >
		<div class="nav-top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand logo ">
					<h1><a href="index.html">朔州顺城达工贸有限公司 </a></h1>
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil links" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">
						<li ><a href="index.html" class="scroll active" >主页</a><span></span> </li>
						<li ><a href="#services" class="scroll ser" >业务介绍</a><span></span> </li>
						<li><a href="#gallery" class="scroll ser1">产品展示</a><span></span></li>
						<li><a href="#contact" class="scroll ser1" >联系我们</a></li>
					</ul>
				<div class="clearfix"></div>
				</div><!-- /.navbar-collapse -->
		</div>
	</div>
</div>

<!--banner-->
<div class="banner">
	<div class="container">
		<div class="banner-text">
			<h3>朔州顺成达工贸有限公司</h3>
			<h2>We Are <span>PROFESSIONAL</span> </h2>
			<p>我们是您最合适的选择 </p>
			<a href="#about" class="scroll hvr-sweep-to-bottom">关于我们</a>
		</div>	
	</div>
</div>
<!--//banner-->	
<!--content-->

<!--content-->
<div class="service" id="services">
	<div class="container">
		<div class="about-w3l">
			<h3>服务介绍</h3>
			<div class="about-t">
				<b></b>
				<b class="line"></b>
			</div>
		</div>
		<div class="service-head">	
			<div class="col-md-3 w3ls ">
				<div class=" ser-grid ">
					<div class=" hi-icon-effect-7 hi-icon-effect-7a">
						<i class="glyphicon glyphicon-leaf hi-icon "> </i>
					</div>
					<h3>煤炭运输</h3>
				</div>
			</div>
			<div class="col-md-3 w3ls ">
				<div class=" ser-grid ser-grid1 ">
					<div class=" hi-icon-effect-7 hi-icon-effect-7a">
						<i class="glyphicon glyphicon-user hi-icon "> </i>
					</div>
					<h3>水泥业务运输</h3>
				</div>
			</div>
			<div class="col-md-3 w3ls">
				<div class=" ser-grid ser-grid2 ">
					<div class=" hi-icon-effect-7 hi-icon-effect-7a">
						<i class="glyphicon glyphicon-cog hi-icon "> </i>
					</div>
					<h3>粉尘颗粒物运输</h3>
				</div>
			</div>
			<div class="col-md-3 w3ls ">
				<div class=" ser-grid ser-grid3 ">
					<div class=" hi-icon-effect-7 hi-icon-effect-7a">
						<i class="glyphicon glyphicon-piggy-bank hi-icon"> </i>
					</div>
					<h3>其他货物运输</h3>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="news">
	<div class="container">
		<div class="news-top">
			<div class="col-md-8 news-left">
				<div class="news-heading">
					<h3>公司及业务介绍</h3>
				</div>
				<div class="news-bottom">
					<h4>公司介绍</h4>
					<p>朔州顺成达工贸有限公司成立于2017年，公司位于朔州山阴县北周庄。公司主要承揽煤炭及其他货物运输业务。 </p>
					<div class="news-one">
						<div class="news-one-left">
							<img src="/static/images/ne1.jpg" alt="">
						</div>
						<div class="news-one-right">
							<h4>罐车业务</h4>
							<p>罐车用于水泥等粉尘货物的运输业务</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="news-one">
						<h4>平板车业务</h4>
						<p>平板车主要用于煤炭以及其他大型货物运输</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 news-right">
				<div class="news-heading">
					<h3>业务车辆</h3>
				</div>
				<div class="news-btm">
					<div class="news-1">
						<img src="/static/images/ne2.jpg" alt="">
							<div class="n-1">
								<h5>罐车</h5>
								<p>罐车主要用于水泥以及其他粉尘颗粒物运输</p>
							</div>
						</div>
					<div class="news-1 agileinfo">
						<img src="/static/images/ne.jpg" alt="">
							<div class="n-1">
								<h5>平 板 车</h5>
								<p>平板车主要用于煤炭和其他非颗粒物运输</p>
							</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--gallery-->
<div class="gallery" id="gallery">
	<div class="container">
		<div class="about-w3l w3agile">
			<h3>产品展示</h3>
			<div class="about-t wthree">
				<b></b>
				<b class="line"></b>
			</div>
		
	</div>
</div>
	<div class="ga-top">
   		<div class="col-md-3 gallery-top">
			<div class="grid-ga">
			   <a href="/static/images/pa.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
					<img src="/static/images/pa.jpg" alt=""/ >
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>	
						</figcaption>	
					</figure>
					</a>
				</div>
				<div class="grid-ga">
			   <a href="/static/images/pa1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
					<img src="/static/images/pa1.jpg" alt=""/>
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>	
						</figcaption>	
					</figure>
					</a>
				</div>
		</div>
		<div class="col-md-3 gallery-top">
			<div class="grid-ga">
			   <a href="/static/images/pa2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa2.jpg" alt=""/>
						<figcaption>
							<h4 class="w3-gallery">点击放大</h4>
						</figcaption>			
					</figure>
					</a>
			</div>
			<div class="grid-ga">
				<a href="/static/images/pa3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa3.jpg" alt=""/>
						<figcaption>
							<h4 class="w3-gallery">点击放大</h4>	
						</figcaption>			
					</figure>
					</a>
			</div>
			<div class="grid-ga">
			   <a href="/static/images/pa4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa4.jpg" alt=""/>
						<figcaption>
							<h4 class="w3-gallery">点击放大</h4>	
						</figcaption>			
					</figure>
					</a>
			</div>
		</div>
		<div class="col-md-3 gallery-top">
			<div class="grid-ga">
			   <a href="/static/images/pa5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa5.jpg" alt=""/>
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>
						</figcaption>			
					</figure>
					</a>
			</div>
			<div class="grid-ga">
			   <a href="/static/images/pa6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa6.jpg" alt=""/>
						<figcaption>
							<h4 class="w3-gallery">点击放大</h4>
						</figcaption>			
					</figure>
					</a>
			</div>
		</div>
		<div class="col-md-3 gallery-top">
			<div class="grid-ga">
			   <a href="/static/images/pa7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa7.jpg" alt=""/>
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>
						</figcaption>			
					</figure>
					</a>
			</div>
			<div class="grid-ga">
			   <a href="/static/images/pa8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa8.jpg" alt=""/>
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>	
						</figcaption>			
					</figure>
					</a>
			</div>
			<div class="grid-ga">
			   <a href="/static/images/pa9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-img">
						<img src="/static/images/pa9.jpg" alt=""/>
						<figcaption >
							<h4 class="w3-gallery">点击放大</h4>
						</figcaption>			
					</figure>
					</a>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div> 
</div>
	<script src="/static/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/static/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.grid-ga a').Chocolat();
		});
		</script>
	<!--//gallery-->
	<link href="/static/css/owl.carousel.css" rel="stylesheet">
	 <script src="/static/js/owl.carousel.js"></script>
	 <!-- requried-jsfiles-for owl -->
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo2").owlCarousel({
									        items : 1,
									        lazyLoad : false,
									        autoPlay : true,
									        navigation : false,
									        navigationText :  false,
									        pagination : true,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->
<!--contact-->		
<div class="contact" id="contact">
	<div class="container">
		<div class="about-w3l w3agile w3">
			<h3>联系我们</h3>
			<div class="about-t wthree">
				<b></b>
				<b class="line"></b>
			</div>
			<p>下面是我公司联系方式，如您有业务需求，请以下列联系方式联系我们，欢迎合作.</p>
		</div>				
		<div class=" top-contact">
			<form action="#" method="post">
				<div class=" grid-contact">
					<div class="col-md-6 grid-contact1">
						<p><font size="5" color="white">平板车业务（王经理）：15340608287</font></p>								
					</div>
					<div class="col-md-6 grid-contact1">
						<p><font size="5" color="white">罐车业务（李经理）：13513690090</font></p>									
					</div>
				</div>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>			

<!--footer-->
<div class="footer">
	
	<div class="footer-b">
		<ul class="footer-nav">
			<li ><a href="index.html" class="scroll active" >主页</a> </li>
			<li ><a href="#services" class="scroll" >业务介绍</a> </li>
			<li><a href="#gallery" class="scroll">产品展示</a></li>
			<li><a href="#contact" class="scroll" >联系我们</a></li>
		</ul>
		<a href="#header" class="scroll bottom"><i></i></a>
	</div>
</div>
<!-- for bootstrap working -->
	<script src="/static/js/bootstrap.min.js"></script>
<!-- //for bootstrap working -->

</body>
</html>